@media (max-width: 1200px) {

    .hero-sec {
        display: flex;
        flex-wrap: wrap;
        padding: 10;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-bottom: 20px;
        row-gap: 20px;
        padding-top: 0;
    }

    .hero-sec .text-sec h1 {
        font-size: 3rem;
    }

    .hero-sec .img-sec img {
        width: auto;
        height: 330px;
    }

    .product-sec {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .product-sec .pro-heading {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 30px;
    }

    .product-sec .item {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .product-sec .item .item-one img {
        width: -webkit-fill-available;
        border-radius: 8px;
        height: 250px;
    }

    .delivery-sec {
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        padding: 20px;
    }

    .delivery-sec .text-one {
        display: flex;
        width: -webkit-fill-available;
    }

    .offer-sec {
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
    }

    .offer-sec img {
        width: -webkit-fill-available;
    }

    .payment-methods .payment-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}